p, h1, a {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 200px
}
img {
    image-resolution: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
body{
    background-image: url('asdffff.jpg');
}

a {
    text-align: auto;
    
}